<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yunting.wlan.mapper.PlayerMapper">
    <resultMap id="BaseResultMap" type="com.yunting.wlan.entity.Player">
        <id column="player_id" jdbcType="BIGINT" property="playerId"/>
        <id column="wx_open_id" jdbcType="VARCHAR" property="wxOpenId"/>
        <id column="pay_login_id" jdbcType="VARCHAR" property="payLoginId"/>
        <result column="game_id" jdbcType="BIGINT" property="gameId"/>
        <result column="wx_nickname" jdbcType="VARCHAR" property="wxNickname"/>
        <result column="real_name" jdbcType="VARCHAR" property="realName"/>
        <result column="wx_headimgurl" jdbcType="VARCHAR" property="wxHeadimgurl"/>
        <result column="player_creat_time" jdbcType="TIMESTAMP" property="playerCreatTime"/>
        <result column="status" jdbcType="CHAR" property="status"/>
        <result column="mobile_id" jdbcType="BIGINT" property="mobileId"/>
        <result column="in_red" jdbcType="DECIMAL" property="inRed"/>
        <result column="special" jdbcType="VARCHAR" property="special"/>
    </resultMap>

    <select id="selectMobileIDByPlayerId" resultType="java.lang.Long">
        select mobile_id
        from ${dbName}.player
        where player_id = #{playerId}
        limit 1
    </select>

    <select id="selectPlayerByPlayerId" resultType="com.yunting.wlan.entity.Player">
        select player_id,
               wx_open_id,
               pay_login_id,
               game_id,
               wx_nickname,
               real_name,
               wx_headimgurl,
               player_creat_time,
               proxy_name,
               status,
               mobile_id,
               in_red,
               special
        from ${dbName}.player
        where player_id = #{playerId}
    </select>

    <update id="updatePlayerMobileID">
        update ${dbName}.player
        set mobile_id = #{mobileID}
        where player_id = #{playerId}
    </update>

    <select id="selectPlayerPowerAndStatus" resultType="com.yunting.wlan.entity.Player">
        select status, special
        from ${dbName}.player
        where player_id = #{playerId}
          and game_id = #{gameId}
    </select>

    <select id="selectMobileNameByPlayerId" resultType="java.lang.String">
        select mobile_detail.device_name
        from ${dbName}.mobile_detail
        where mobile_id = (select mobile_id from ${dbName}.player where player_id = #{playerId})
    </select>


</mapper>