<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yunting.client.mapper.Adv.AdEncourageMapper">
    <resultMap id="BaseResultMap" type="com.yunting.client.entity.Adv.AdEncourage">
        <id column="adv_encourage_id" jdbcType="BIGINT" property="advEncourageId"/>
        <result column="adv_type_id" jdbcType="CHAR" property="advTypeId"/>
        <result column="app_id" jdbcType="BIGINT" property="appID"/>
        <result column="player_id" jdbcType="BIGINT" property="playerId"/>
        <result column="wx_nick_name" jdbcType="VARCHAR" property="wxNickName"/>
        <result column="request_id" jdbcType="VARCHAR" property="requestId"/>
        <result column="trans_id" jdbcType="VARCHAR" property="transId"/>
        <result column="code_bit_id" jdbcType="VARCHAR" property="codeBitId"/>
        <result column="server_callback_time" jdbcType="TIMESTAMP" property="serverCallbackTime"/>
        <result column="is_server_call" jdbcType="CHAR" property="isServerCall"/>
        <result column="is_client_call" jdbcType="CHAR" property="isClientCall"/>
        <result column="client_callback_time" jdbcType="TIMESTAMP" property="clientCallbackTime"/>
        <result column="request_time" jdbcType="TIMESTAMP" property="requestTime"/>
        <result column="encourage_from" jdbcType="VARCHAR" property="encourageFrom"/>
        <result column="encourage_reward" jdbcType="DOUBLE" property="encourageReward"/>
        <result column="encourage_ecpm" jdbcType="DOUBLE" property="encourageEcpm"/>
        <result column="first_click_time" jdbcType="TIMESTAMP" property="firstClickTime"/>
        <result column="click_times" jdbcType="INTEGER" property="clickTimes"/>
        <result column="ask_adv_put_time" jdbcType="INTEGER" property="askAdvPutTime"/>
        <result column="get_reward_click_time_date" jdbcType="INTEGER" property="getRewardClickTimeDate"/>
        <result column="ip" jdbcType="INTEGER" property="ip"/>
        <result column="is_close_encourage_adv" jdbcType="CHAR" property="isCloseEncourageAdv"/>
        <result column="is_see_end" jdbcType="CHAR" property="isSeeEnd"/>
        <result column="is_display_ad" jdbcType="CHAR" property="isDisplayAd"/>
        <result column="is_old_player" jdbcType="CHAR" property="isOldPlayer"/>
        <result column="err_info" jdbcType="VARCHAR" property="errInfo"/>
        <result column="address" jdbcType="VARCHAR" property="address"/>
        <result column="exception_operate" jdbcType="VARCHAR" property="exceptionOperate"/>
    </resultMap>

    <insert id="insertAdEncourage">
        insert into ad_encourage (adv_encourage_id, adv_type_id, app_id,player_id, wx_nick_name,
        ip,is_old_player,address,is_close_encourage_adv,
        is_see_end,is_client_call,is_server_call,is_display_ad)
        values (#{advEncourageId}, #{advTypeId}, #{appID},#{playerId}, #{wxNickName}
        ,inet_aton(#{ip}),#{isOldPlayer}, #{address},#{isCloseEncourageAdv},
        #{isSeeEnd},#{isClientCall},#{isServerCall},#{isDisplayAd})
        <selectKey resultType="long" keyProperty="advEncourageId" order="AFTER" keyColumn="adv_encourage_id">
            select @@identity;
        </selectKey>
    </insert>

    <update id="changeAdEncourageRecordClose">
        update ad_encourage
        set click_times            = #{clickCount},
            is_close_encourage_adv = '0',
            exception_operate= #{exceptionMsg}
        where adv_encourage_id = #{targetAdv}
    </update>

    <update id="changeAdEncourageRecordEnoughReward">
        update ad_encourage
        set client_callback_time=#{clientTime},
            trans_id            = #{transId},
            is_client_call='0'
        where adv_encourage_id = #{adEncourageId}
    </update>

    <update id="changeAdEncourageRecordIsOk">
        update ad_encourage
        set is_see_end = #{changeData}
        where adv_encourage_id = #{targetAdv}
    </update>

    <update id="changeAdEncourageRecordGetWard">
        update ad_encourage
        set ask_adv_put_time = #{askPutTimeDate}
        where adv_encourage_id = #{targetAdv}
    </update>

    <update id="loadAndChange">
        update ad_encourage
        set request_time              = #{load.requestTime},
            encourage_from            = #{load.encourageFrom},
            get_reward_click_time_date=#{load.getRewardClickTimeDate}
        where adv_encourage_id = #{load.advEncourageId}
    </update>

    <update id="watchAndChange">
        update ad_encourage
        set code_bit_id=#{watch.codeBitId},
            request_id=#{watch.requestId},
            encourage_ecpm=#{watch.advEcpm},
            err_info=#{watch.errinfo},
            is_display_ad= '0'
        where adv_encourage_id = #{watch.advEncourageId}
    </update>

    <update id="changeAdEncourageRecordServcer">
        update ad_encourage
        set trans_id=#{transId},
            server_callback_time=#{serverTime}
                ,
            is_server_call= '0'
        where adv_encourage_id = #{adEncourageId}
    </update>

    <update id="changeAdEncourageRecordClickTime">
        update ad_encourage
        set first_click_time=#{clickTime},
            click_times=#{clickCount}
        where adv_encourage_id = #{targetAdv}
    </update>

    <update id="changeAdEncourageRecordReward">
        update ad_encourage
        set encourage_reward=#{encourageReward}
        where adv_encourage_id = #{targetAdv}
    </update>

    <update id="compensateAdEncourageClickCount">
        update ad_encourage
        set click_times=#{clickCount}
        where adv_encourage_id = #{targetAdv}
    </update>

    <select id="findAdEncourageByTransId" resultType="com.yunting.client.DTO.CallbackDto">
        select player_id, trans_id
        from ad_encourage
        where trans_id = #{transId}
    </select>


    <select id="showAdEncourageRecordlist" resultType="com.yunting.client.entity.Adv.AdEncourage">
        select adv_encourage_id,
               adv_type_id,
               player_id,
               wx_nick_name,
               request_id,
               trans_id,
               code_bit_id,
               server_callback_time,
               is_server_call,
               is_client_call,
               client_callback_time,
               request_time,
               encourage_from,
               encourage_reward,
               encourage_ecpm,
               first_click_time,
               click_times,
               get_reward_click_time_date,
               inet_ntoa(ip) as ip,
               is_close_encourage_adv,
               is_see_end,
               is_display_ad,
               is_old_player,
               err_info,
               address,
               exception_operate
        from ad_encourage
        where adv_type_id = #{advType}
        order by adv_encourage_id desc
    </select>

    <select id="selectByPrimaryKey" resultType="com.yunting.client.entity.Adv.AdEncourage">
        select adv_encourage_id,
               adv_type_id,
               player_id,
               wx_nick_name,
               request_id,
               trans_id,
               code_bit_id,
               server_callback_time,
               is_server_call,
               is_client_call,
               client_callback_time,
               request_time,
               encourage_from,
               encourage_reward,
               encourage_ecpm,
               first_click_time,
               click_times,
               get_reward_click_time_date,
               inet_ntoa(ip) as ip,
               is_close_encourage_adv,
               is_see_end,
               is_display_ad,
               is_old_player,
               err_info,
               address,
               exception_operate
        from ad_encourage
        where adv_encourage_id = #{advEncourageId}
    </select>

    <select id="queryAdEncourageRecordBySearch" resultType="com.yunting.client.DTO.VO.AdEncourageVo"
            parameterType="com.yunting.client.DTO.SearchDto">
        select encourage.adv_encourage_id, encourage.adv_type_id, encourage.player_id, encourage.wx_nick_name,
        encourage.request_id,
        encourage.trans_id,encourage.code_bit_id,
        encourage.server_callback_time,encourage.is_server_call,encourage.is_client_call,
        encourage.client_callback_time,
        encourage.request_time, encourage.encourage_from,
        encourage.encourage_reward, encourage.encourage_ecpm, encourage.first_click_time,
        encourage.click_times,encourage.ask_adv_put_time,
        encourage.get_reward_click_time_date, inet_ntoa(encourage.ip) as ip,
        encourage.is_close_encourage_adv, encourage.is_see_end,encourage.is_display_ad,
        encourage.is_old_player, encourage.err_info,encourage.address,encourage.exception_operate,adn.adn_name as
        advLegengds
        from yunting_app_test.ad_encourage encourage
        left join behind_manage.admin_codebit code on encourage.code_bit_id = code.code_bit_id
        left join behind_manage.adn
        on code.adn_id = adn.id
        where adv_type_id = #{searchDto.advType} and yunting_app_test.ad_encourage.app_id=#{searchDto.codeId}
        <if test="searchDto.selectAdn!=''">
            and adn.adn_name=#{searchDto.selectAdn}
        </if>
        <if test="searchDto.selectOption != ''">
            <if test="searchDto.selectOption == 1">
                <if test="searchDto.search != ''">and player_id = #{searchDto.search}</if>
            </if>
            <if test="searchDto.selectOption == 2">
                and wx_nick_name like concat(#{searchDto.search},'%')
            </if>
            <if test="searchDto.selectOption == 3">
                and code_bit_id = #{searchDto.search}
            </if>
            <if test="searchDto.selectOption == 4">
                and request_id =#{searchDto.search}
            </if>
            <if test="searchDto.selectOption == 5">
                and is_see_end =#{searchDto.search}
            </if>
            <if test="searchDto.selectOption == 6">
                and is_close_encourage_adv = #{searchDto.search}
            </if>
            <if test="searchDto.selectOption == 7">
                and encourage_from =#{searchDto.search}
            </if>
            <if test="searchDto.selectOption == 8">
                and ask_adv_put_time = #{searchDto.search}
            </if>
            <if test="searchDto.selectOption == 9">
                and get_reward_click_time_date =#{searchDto.search}
            </if>
            <if test="searchDto.selectOption == 10">
                and err_info =#{searchDto.search}
            </if>
            <if test="searchDto.selectOption == 11">
                and exception_operate like concat(#{searchDto.search},'%')
            </if>
        </if>
        <if test="searchDto.selectPoint != 0">
            <if test="searchDto.selectPoint == 1">
                and click_times > 1
            </if>
            <if test="searchDto.selectPoint == 2">
                and click_times = 1
            </if>
            <if test="searchDto.selectPoint == 3">
                and click_times = 0
            </if>
            <if test="searchDto.selectPoint == 4">
                and click_times > 0
            </if>
        </if>
        <if test="searchDto.selectEncourage != 'a0'">
            <if test="searchDto.selectEncourage == '1b'">
                and is_server_call = 0
            </if>
            <if test="searchDto.selectEncourage == '2c'">
                and is_server_call = 1
            </if>
            <if test="searchDto.selectEncourage == '3d'">
                and is_client_call = 0
            </if>
            <if test="searchDto.selectEncourage == '4e'">
                and is_client_call =1 and is_server_call = 1
            </if>
        </if>

        <if test="searchDto.startTime!=''&amp;&amp;searchDto.endTime!=''">
            and request_time between #{searchDto.startTime} and #{searchDto.endTime}
        </if>
        order by adv_encourage_id desc
    </select>

    <select id="getAdEncourageRecordsByCodeId" resultType="com.yunting.client.entity.Adv.AdEncourage">
        select adv_encourage_id,
               adv_type_id,
               player_id,
               wx_nick_name,
               request_id,
               trans_id,
               code_bit_id,
               server_callback_time,
               client_callback_time,
               request_time,
               encourage_from,
               encourage_reward,
               encourage_ecpm,
               first_click_time,
               click_times,
               get_reward_click_time_date,
               ip,
               is_close_encourage_adv,
               is_see_end,
               is_display_ad,
               is_old_player,
               err_info,
               address
        from ad_encourage
        where code_bit_id = #{codeId}
    </select>

    <select id="isCloseAdEncourage" resultType="string">
        select is_close_encourage_adv
        from ad_encourage
        where adv_encourage_id = #{targetAdv}
    </select>

    <select id="getTableSize" resultType="com.yunting.client.DTO.VO.TableVo">
        show table status from yunting_app_test like #{tableName}
    </select>

</mapper>