<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yunting.client.mapper.Adv.AdInscreenMapper">
    <resultMap id="BaseResultMap" type="com.yunting.client.entity.Adv.AdInscreen">
        <id column="ad_inScreen_id" jdbcType="BIGINT" property="adInscreenId"/>
        <result column="adv_type_id" jdbcType="CHAR" property="advTypeId"/>
        <result column="player_id" jdbcType="BIGINT" property="playerId"/>
        <result column="app_id" jdbcType="VARCHAR" property="appId"/>
        <result column="code_bit_id" jdbcType="VARCHAR" property="codeBitId"/>
        <result column="request_id" jdbcType="VARCHAR" property="requestId"/>
        <result column="adv_ecpm" jdbcType="DOUBLE" property="advEcpm"/>
        <result column="clicks" jdbcType="INTEGER" property="clicks"/>
        <result column="ip" jdbcType="INTEGER" property="ip"/>
        <result column="first_click_time" jdbcType="TIMESTAMP" property="firstClickTime"/>
        <result column="request_time" jdbcType="TIMESTAMP" property="requestTime"/>
        <result column="wx_nick_name" jdbcType="VARCHAR" property="wxNickName"/>
        <result column="errinfo" jdbcType="VARCHAR" property="errinfo"/>
    </resultMap>

    <insert id="insertAdInscreen">
        insert into ad_inscreen (ad_inScreen_id, adv_type_id, player_id, app_id, code_bit_id,
        request_id, adv_ecpm,clicks,ip, request_time,
        wx_nick_name,errinfo)
        values (#{adInscreenId}, #{advTypeId}, #{playerId}, #{appId}, #{codeBitId}, #{requestId}, #{advEcpm},
        #{clicks}, inet_aton(#{ip}), #{requestTime},
        #{wxNickName},#{errinfo})
        <selectKey resultType="long" keyProperty="adInscreenId" order="AFTER" keyColumn="ad_inScreen_id">
            select @@identity;
        </selectKey>
    </insert>


    <update id="changeAdInScreenRecord">
        update ad_inscreen set  clicks= #{changeData.clicks}
        where ad_inScreen_id = #{targetAdv}
    </update>

    <update id="inScreenFirstClickTime">
        update ad_inscreen set first_click_time = #{firstClickTime}
        where ad_inScreen_id = #{advId}
    </update>

    <select id="showAdInscreenRecordlist" resultType="com.yunting.client.entity.Adv.AdInscreen">
        select ad_inScreen_id,
               adv_type_id,
               player_id,
               app_id,
               code_bit_id,
               request_id,
               adv_ecpm,
               clicks,
               inet_ntoa(ip) as ip,
               first_click_time,
               request_time,
               wx_nick_name,
               errinfo
        from ad_inscreen
        where adv_type_id = #{advType} order by ad_inScreen_id desc
    </select>

    <select id="getAdInscreenRecordsByCodeId" resultType="com.yunting.client.entity.Adv.AdInscreen">
        select ad_inScreen_id,
               adv_type_id,
               player_id,
               app_id,
               code_bit_id,
               request_id,
               adv_ecpm,
               clicks,
               inet_ntoa(ip) as ip,
               first_click_time,
               request_time,
               wx_nick_name,
               errinfo
        from ad_inscreen
        where code_bit_id = #{codeId}
    </select>

    <select id="queryAdInscreenRecordBySearch" resultType="com.yunting.client.DTO.VO.AdrecordVo">
        select inAdv.ad_inScreen_id,
        inAdv.adv_type_id,
        inAdv.player_id,
        inAdv.app_id,
        inAdv.code_bit_id,
        inAdv.request_id,
        inAdv.adv_ecpm,
        inAdv.clicks,
        inet_ntoa(inAdv.ip) as ip,
        inAdv.first_click_time,
        inAdv.request_time,
        inAdv.wx_nick_name,
        inAdv.errinfo,adn.adn_name as advLegengds
        from yunting_app_test.ad_inscreen inAdv
        left join behind_manage.admin_codebit code on inAdv.code_bit_id = code.code_bit_id
        left join behind_manage.adn
        on code.adn_id = adn.id
        where adv_type_id = #{searchDto.advType}
        <if test="searchDto.selectAdn!=''">
            and  adn.adn_name=#{searchDto.selectAdn}
        </if>
        <if test="searchDto.selectOption != ''">
            <if test="searchDto.selectOption == 1">
                <if test="searchDto.search != ''">       and player_id = #{searchDto.search}</if>
            </if>
            <if test="searchDto.selectOption == 2">
                <if test="searchDto.search != ''">
                    and wx_nick_name like concat(#{searchDto.search},'%')</if>
            </if>
            <if test="searchDto.selectOption == 3">
                <if test="searchDto.search != ''">    and request_id = #{searchDto.search}</if>
            </if>
            <if test="searchDto.selectOption == 4">
                <if test="searchDto.search != ''">    and errinfo = #{searchDto.search}</if>
            </if>
        </if>
        <if test="searchDto.selectPoint != 0">
            <if test="searchDto.selectPoint == 1">
                and clicks > 1
            </if>
            <if test="searchDto.selectPoint == 2">
                and clicks = 1
            </if>
            <if test="searchDto.selectPoint == 3">
                and clicks = 0
            </if>
            <if test="searchDto.selectPoint == 4">
                and clicks > 0
            </if>
          </if>

        <if test="searchDto.startTime!=''&amp;&amp;searchDto.endTime!=''">
            and request_time between #{searchDto.startTime} and #{searchDto.endTime}
        </if>
        order by ad_inScreen_id desc
    </select>

</mapper>