<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yunting.client.mapper.DayBehaveRecordlistMapper">
    <resultMap id="BaseResultMap" type="com.yunting.client.entity.DayBehaveRecordlist">
        <id column="day_id" property="dayId" jdbcType="CHAR"/>
        <result column="player_id" property="playerId" jdbcType="CHAR"/>
        <result column="app_id" property="appId" jdbcType="CHAR"/>
        <result column="todayRed" property="todayred" jdbcType="DECIMAL"/>
        <result column="totalRed" property="totalred" jdbcType="DECIMAL"/>
        <result column="today_encourageAdv_count" property="todayEncourageAdvCount" jdbcType="INTEGER"/>
        <result column="service_CallBack_AdvCount" property="serviceCallBackAdvCount" jdbcType="INTEGER"/>
        <result column="service_CallBack_Reward_Count" property="serviceCallBackRewardCount" jdbcType="INTEGER"/>
        <result column="retain_time" property="retainTime" jdbcType="TIMESTAMP"/>
        <result column="retain_way" property="retainWay" jdbcType="CHAR"/>
        <result column="day_cash" property="dayCash" jdbcType="DECIMAL"/>
    </resultMap>

    <insert id="addDayBehaveRecordlist">
        INSERT INTO day_behave_recordlist ( player_id, app_id, retain_way, todayRed, totalRed
                                          , today_encourageAdv_count, service_CallBack_AdvCount
                                          , service_CallBack_Reward_Count, retain_time)
        VALUES (#{dayRecord.playerId}, #{dayRecord.appId}, #{dayRecord.retainWay}, #{dayRecord.todayred},
                #{dayRecord.totalred},
                #{dayRecord.todayEncourageAdvCount}, #{dayRecord.serviceCallBackAdvCount},
                #{dayRecord.serviceCallBackRewardCount}, #{dayRecord.retainTime})
    </insert>

    <update id="changeDayBehaveRecordEncourageCount">
        UPDATE day_behave_recordlist
        SET today_encourageAdv_count = today_encourageAdv_count + #{encourageCount}
        WHERE day_id = #{dayid}
    </update>
    <update id="changeDayBehaveRecordCallbackCount">
        UPDATE day_behave_recordlist
        SET service_CallBack_AdvCount = service_CallBack_AdvCount + #{callbackCount}
        WHERE day_id = #{dayid}
    </update>

    <update id="changeDayBehaveRecordCallbackRewardCount">
        UPDATE day_behave_recordlist
        SET service_CallBack_AdvCount = service_CallBack_AdvCount + #{rewardCount},
            totalRed                  = totalRed + #{totalRed},
            todayRed                  = todayRed + #{todayRed}
        WHERE day_id = #{dayid}
    </update>

    <update id="changeDayBehaveRecordWithdrawCash">
        UPDATE day_behave_recordlist
        SET day_cash = day_cash + #{dayCash}
        WHERE day_id = #{dayid}
    </update>

    <select id="getDayLastDayBehaveRecordlistByPlayerId" resultType="com.yunting.client.entity.DayBehaveRecordlist">
        SELECT day_id,
               player_id,
               app_id,
               retain_way,
               todayRed,
               totalRed,
               today_encourageAdv_count,
               service_CallBack_AdvCount,
               service_CallBack_Reward_Count,
               retain_time,
               day_cash
        FROM day_behave_recordlist
        WHERE player_id = #{playerId}
        group by player_id, date(retain_time)
        order by date(retain_time) desc
        limit 1
    </select>

    <select id="getDayBehaveRecordlistByPlayerId" resultType="com.yunting.client.entity.DayBehaveRecordlist">
        SELECT day_id,
               player_id,
               app_id,
               retain_way,
               todayRed,
               totalRed,
               today_encourageAdv_count,
               service_CallBack_AdvCount,
               service_CallBack_Reward_Count,
               retain_time
        FROM day_behave_recordlist
        WHERE player_id = #{playerId}
        group by date(retain_time)
        order by day_id desc
    </select>

    <select id="getDayBehaveRecordlistByPlayerIdAndTime" resultType="com.yunting.client.entity.DayBehaveRecordlist">
        SELECT todayRed,today_encourageAdv_count,retain_time
        FROM day_behave_recordlist
        WHERE player_id = #{playerId}
        <if test="recordTime != null">
            and date(retain_time) = #{recordTime}
        </if>
        group by date(retain_time)
        order by day_id desc
    </select>

    <select id="getRetainActiveByPlayerId" resultType="com.yunting.client.DTO.VO.RetainActiveVO">
        SELECT day_behave_recordlist.player_id ,wx_nickname,retain_time,today_encourageAdv_count
        FROM day_behave_recordlist left join player p on day_behave_recordlist.player_id = p.player_id
        WHERE day_id=day_id and app_id = #{active.appid}
        <if test="active.selectOption != ''">

            <if test="active.selectOption == 1">
                <if test="active.search != ''">
                    and day_behave_recordlist.player_id = #{active.search}
                </if>
            </if>

            <if test="active.selectOption == 2">
                <if test="active.search != ''">
                    and p.wx_nickname = #{active.search}
                </if>
            </if>

        </if>

        <if test="active.startTime!=''&amp;&amp;active.endTime!=''">
            and retain_time between #{active.startTime} and #{active.endTime}
        </if>
        group by p.player_id, date(retain_time)
        order by day_id desc

    </select>


</mapper>