<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yunting.adv.mapper.Adv.AdRowstyleMapper">
    <resultMap id="BaseResultMap" type="com.yunting.adv.entity.Adv.AdRowstyle">
        <id column="ad_rowStyle_id" jdbcType="BIGINT" property="adRowstyleId"/>
        <result column="adv_type_id" jdbcType="CHAR" property="advTypeId"/>
        <result column="player_id" jdbcType="BIGINT" property="playerId"/>
        <result column="app_id" jdbcType="VARCHAR" property="appId"/>
        <result column="code_bit_id" jdbcType="VARCHAR" property="codeBitId"/>
        <result column="request_id" jdbcType="VARCHAR" property="requestId"/>
        <result column="adv_ecpm" jdbcType="DOUBLE" property="advEcpm"/>
        <result column="clicks" jdbcType="INTEGER" property="clicks"/>
        <result column="ip" jdbcType="INTEGER" property="ip"/>
        <result column="first_click_time" jdbcType="TIMESTAMP" property="firstClickTime"/>
        <result column="request_time" jdbcType="TIMESTAMP" property="requestTime"/>
        <result column="wx_nick_name" jdbcType="VARCHAR" property="wxNickName"/>
        <result column="errinfo" jdbcType="VARCHAR" property="errinfo"/>
    </resultMap>

    <insert id="insertAdRowstyle">
        insert into ${dbName}.ad_rowstyle (adv_type_id, player_id, app_id, code_bit_id,
        request_id,
        adv_ecpm,
        clicks, ip, request_time, wx_nick_name,
        errinfo)
        values (#{advTypeId}, #{playerId}, #{appId}, #{codeBitId}, #{requestId}, #{advEcpm},
        #{clicks}, inet_aton(#{ip}), #{requestTime},#{wxNickName},#{errinfo})
        <selectKey resultType="long" keyProperty="adRowStyleId" order="AFTER" keyColumn="ad_rowStyle_id">
            select @@identity;
        </selectKey>
    </insert>

    <update id="changeAdRowRecord">
        update ${dbName}.ad_rowstyle
        set clicks= #{changeData.clicks}
        where ad_rowStyle_id = #{targetAdv}
    </update>

    <update id="rowStyleFirstClickTime">
        update ${dbName}.ad_rowstyle
        set first_click_time= #{firstClickTime},
            clicks= 1
        where ad_rowStyle_id = #{advId}
    </update>

    <select id="showAdRowRecordlist" resultType="com.yunting.adv.entity.Adv.AdRowstyle">
        select ad_rowStyle_id,
               adv_type_id,
               player_id,
               app_id,
               code_bit_id,
               request_id,
               adv_ecpm,
               clicks,
               inet_ntoa(ip),
               first_click_time,
               request_time,
               wx_nick_name,
               errinfo
        from ${dbName}.ad_rowstyle
        where adv_type_id = #{advType}
        order by ad_rowStyle_id desc
    </select>

    <select id="getAdRowstyleRecordsByCodeId" resultType="com.yunting.adv.entity.Adv.AdRowstyle">
        select ad_rowStyle_id,
               adv_type_id,
               player_id,
               app_id,
               code_bit_id,
               request_id,
               adv_ecpm,
               clicks,
               inet_ntoa(ip),
               first_click_time,
               request_time,
               wx_nick_name,
               errinfo
        from ${dbName}.ad_rowstyle
        where code_bit_id = #{codeId}
    </select>


</mapper>