<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yunting.pay.mapper.WithdrawRecordMapper">
    <resultMap id="BaseResultMap" type="com.yunting.pay.entity.WithdrawRecord">
        <id column="withdraw_record_id" jdbcType="BIGINT" property="withdrawRecordId"/>
        <id column="player_id" jdbcType="BIGINT" property="playerId"/>
        <result column="wx_nickname" jdbcType="VARCHAR" property="wxNickname"/>
        <result column="package_name" jdbcType="VARCHAR" property="packageName"/>
        <result column="withdraw_status" jdbcType="CHAR" property="withdrawStatus"/>
        <result column="withdraw_money" jdbcType="DECIMAL" property="withdrawMoney"/>
        <result column="return_money" jdbcType="DECIMAL" property="returnMoney"/>
        <result column="withdraw_time" jdbcType="TIMESTAMP" property="withdrawTime"/>
        <result column="withdraw_percentage_now" jdbcType="VARCHAR" property="withdrawPercentageNow"/>
    </resultMap>

    <insert id="insertWithdrawRecord">
        insert into yunting_app_test.withdraw_record
        (withdraw_record_id, player_id,
         wx_nickname, package_name,
         withdraw_status, withdraw_money,
         return_money, withdraw_time, withdraw_percentage_now)
        values (#{withdrawRecordId}, #{playerId},
                #{wxNickname}, #{packageName},
                #{withdrawStatus}, #{withdrawMoney},
                #{returnMoney}, #{withdrawTime}, #{withdrawPercentageNow})
    </insert>

    <select id="getWithdrawSetting" resultType="com.yunting.pay.entity.WithdrawSetting">
        select withdraw_count, withdraw_nojudge_money, withdraw_percentage, package_name
        from behind_manage.withdraw_setting
        where package_name = (select package_name from behind_manage.application where application_id = #{gameId})
    </select>

    <select id="getThisReback" resultType="java.lang.String">
        select withdraw_reback_percentage
        from behind_manage.withdraw_reback
        where #{money} between withdraw_money_min and withdraw_money_max
        order by withdraw_reback_percentage
        limit 1
    </select>

    <select id="getLimitRebackMoney" resultType="java.lang.String">
        select withdraw_money_min
        from behind_manage.withdraw_reback
        order by withdraw_money_min
        limit 1
    </select>


</mapper>