<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yunting.Screenshot.mapper.ImgorderMapper">
    <resultMap id="BaseResultMap" type="com.yunting.Screenshot.entity.Imgorder">
        <id column="order_id" property="orderId" jdbcType="VARCHAR"/>
        <result column="order_money" property="orderMoney" jdbcType="DECIMAL"/>
        <result column="order_player_id" property="orderPlayerId" jdbcType="BIGINT"/>
        <result column="androidID" property="androidID" jdbcType="VARCHAR"/>
        <result column="packageName" property="packagename" jdbcType="VARCHAR"/>
        <result column="with_draw_percentage" property="withdrawPercentage" jdbcType="BIGINT"/>
        <result column="is_get" property="isGet" jdbcType="CHAR"/>
    </resultMap>

    <insert id="insertOneOrder">
        insert into behind_manage.imgorder (order_id, order_player_id, appid,
                                            androidID, wxName, withdraw_percentage, order_trans_id, order_business,
                                            order_pay_time, order_business_id, order_money)
        values (#{orderId}, #{orderPlayerId}, #{appid}, #{androidID}, #{wxname}, #{withdrawPercentage}, #{orderTransId},
                #{orderBusiness}, #{orderPayTime}, #{orderBusinessId}, #{orderMoney})
    </insert>

    <update id="updateOrderStatus">
        update behind_manage.imgorder
        set is_get = #{isGet}
        where order_id = #{orderID}
    </update>

    <select id="selectPlayerOrderNoURl" resultType="com.yunting.Screenshot.dto.img.ImgShow">
        select directory, fileName, uploadTime, fileHash
        from behind_manage.image_mapping
        where player_id = #{playerID}
          and img_type = #{imgType}
          and is_approval = 'i'
    </select>

    <select id="selectImgByImginfo" resultType="com.yunting.Screenshot.entity.ImageMapping">
        select img_id, directory, img_type, uploadTime
        from behind_manage.image_mapping
        where fileHash = #{hashVal}
          and fileName = #{fileName}
    </select>

    <select id="selectImgByName" resultType="com.yunting.Screenshot.entity.ImageMapping">
        select img_id, directory, fileName, fileHash
        from behind_manage.image_mapping
        where fileName = #{fileName}
    </select>

    <select id="selectImgDetailByImginfo" resultType="com.yunting.Screenshot.entity.ImageMapping">
        select img_money,
               img_trans,
               img_business,
               img_business_id,
               img_pay_time
        from behind_manage.image_mapping
        where fileHash = #{hashVal}
          and fileName = #{fileName}
          and img_type = #{imgType}
    </select>

</mapper>