<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yunting.Screenshot.mapper.PlayerMapper">
    <resultMap id="BaseResultMap" type="com.yunting.Screenshot.entity.Player">
        <id column="player_id" jdbcType="BIGINT" property="playerId"/>
        <id column="wx_open_id" jdbcType="VARCHAR" property="wxOpenId"/>
        <id column="pay_login_id" jdbcType="VARCHAR" property="payLoginId"/>
        <result column="game_id" jdbcType="BIGINT" property="gameId"/>
        <result column="wx_nickname" jdbcType="VARCHAR" property="wxNickname"/>
        <result column="real_name" jdbcType="VARCHAR" property="realName"/>
        <result column="wx_headimgurl" jdbcType="VARCHAR" property="wxHeadimgurl"/>
        <result column="player_creat_time" jdbcType="TIMESTAMP" property="playerCreatTime"/>
        <result column="proxy_id" jdbcType="BIGINT" property="proxyId"/>
        <result column="status" jdbcType="CHAR" property="status"/>
        <result column="mobile_id" jdbcType="BIGINT" property="mobileId"/>
        <result column="in_red" jdbcType="DECIMAL" property="inRed"/>
        <result column="special" jdbcType="VARCHAR" property="special"/>
    </resultMap>




    <select id="selectWxNicknameByPlayerId" resultType="java.lang.String">
        select wx_nickname
        from yunting_app_test.player
        where player_id = #{playerId}
          and game_id = #{gameId}
    </select>


</mapper>